<!doctype html>
<html>
<head>
    {% block head %}
    <!--<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>-->
    <meta charset=utf-8/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="script.js"></script>
    <title>
        {% block title %}

        {% endblock %}
    </title>
    {% endblock %}
</head>
<body>
<div id='cssmenu'>
    <ul>
        <li class='active'><a href='#'>Home</a></li>
        <li><a href='#'>Products</a></li>
        <li><a href='#'>Company</a></li>
        <li><a href='#'>Contact</a></li>
    </ul>
</div>
<div id="content">
    {% block content %}

    {% endblock %}
</div>
<div id="footer">
    {% block footer %}

    {% endblock %}
</div>
<div>
    {% block scripts %}

    {% endblock %}
</div>
</body>


</html>