{% extends "base.html" %}

{% block title %}
    Display processed image
{% endblock %}

{% block content %}
<div>
<table style="width:100%">
  <tr>
    <td width="500px">
        <img id="img_input" src="/static/uploaded_images/{{image_name}}" width="500px">
    </td>
    <td width="200px">
        <button onclick="process_image()">
            PROCESS
        </button>
    </td>
    <td width="500px">
        <img id="img_output" src="#" width="500px">
    </td>
  </tr>
</table>

</div>
{% endblock %}

{% block scripts %}
<script>
    function process_image() {
        $.ajax({
            url: '/detect_empty_space_in_image/{{image_name}}',
			type: 'GET',
			success: function(response){
				console.log(response["output_image_name"]);
				// document.getElementById('img_output').attributes('')
                $("#img_output").attr("src","/static/output/" + response["output_image_name"]);
                alert("Processing finished.")
			},
			error: function(error){
				console.log(error);
			}
        })
    }
</script>
{% endblock %}