{% extends "base.html" %}

{% block title %}
EMPTY SPACE DETECTOR
{% endblock %}




{% block content %}

<div>
    <center><h1>EMPTY SPACE DETECTOR</h1></center>
</div>

<div>
    <form id="upload_form" role="form" method=post enctype=multipart/form-data action='/upload_file'>
        <input type="file" name="file" id="input_load_image"/>
        <input type="submit" value="Upload"/>
    </form>
</div>

<br>
<hr>
<br>


<div>
    <table style="width:100%">
        <tr>
            <td width="500px">
                <img id="img_input" src="#" width="500px">
            </td>
            <td width="200px">
                <button onclick="process_image()">
                    PROCESS
                </button>
            </td>
            <td width="500px">
                <img id="img_output" src="#" width="500px">
            </td>
        </tr>
    </table>
</div>


{% endblock %}

{% block scripts %}
<script>

    $('#upload_form').submit(function (e) {
        e.preventDefault(); // don't submit multiple times
        //this.submit(); // use the native submit method of the form element
        //-----------------------------------
        var data=new FormData();
        data.append('image',$("#input_load_image")[0].files[0])
        $.ajax({
            type: 'POST',
            url: '/upload_file',
            contentType: 'application/json; charset=utf-8',
            data:new FormData($("#upload_form")[0]),
            cache:false,
            processData:false,
            contentType:false,
            success: function (result) {
                alert(result["message"])
                readURL($("#input_load_image"))
            },
            error: function () {
                $(this).html("error!");
            }
        });
        //-----------------------------------


    })

    function readURL(input) {
        if (input[0].files && input[0].files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img_input')
                    .attr('src', e.target.result)
                    .width(500);
            };
            reader.readAsDataURL(input[0].files[0]);
        }
    }

    function process_image() {
        $.ajax({
            url: '/detect_empty_space_in_image/' + $("#input_load_image")[0].files[0].name,
            type: 'GET',
            success: function (response) {
                console.log(response["output_image_name"]);
                // document.getElementById('img_output').attributes('')
                $("#img_output").attr("src", "/static/output/" + response["output_image_name"]);
                alert("Processing finished.")
            },
            error: function (error) {
                console.log(error);
            }
        })
    }
</script>
{% endblock %}